@import "tailwindcss";

@keyframes shimmer {
    0% {
        background-position: 200% center;
    }
    100% {
        background-position: -200% center;
    }
}

.button {
    background: linear-gradient(
        90deg,
        var(--color-sky-500),
        var(--color-sky-300),
        var(--color-sky-500)
    );
    background-size: 200% 200%;
    animation: shimmer 4s infinite linear;
}
